.App {
  font-family: sans-serif;
  text-align: center;
}

.a {
  float: left; /* the default for span */
  width: 100px;
  height: 100px;
  padding: 5px;
  border: 1px solid blue;  
  background-color: yellow;